/* Global Styles */

body {
    background-color: rgb(255, 229, 199);
}

/* type styles */
#type_title {
    color: white;
    font-family: acier-bat-noir,sans-serif;
    font-size: 80px;
    font-weight: 100;
    font-style: normal;
    text-align: right;
    text-shadow: -3px 2px black;
    background-color: rgb(235, 202, 255);
    padding: 10px 0px 10px 0px;

}
ul {
    list-style-type: none;
    padding: 20px;
}
.type-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
button {
    display: inline;
    border: 3px solid rgb(255, 187, 108);
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 8px;
   margin: 0 46px;
   text-align: center;
   filter: drop-shadow(5px 3px 3px #79727a);
   
    transition-duration: .3s;

}
button:hover {
    background-color: rgb(252, 173, 255);
    color: rgb(255, 233, 200);
}
button:active {
    background-color: rgb(255, 161, 181);
    box-shadow: 0 5px rgb(168, 53, 172);
    transform: translateX(4px);
}

#main_titles {
    color: white;
    font-family: acier-bat-noir,sans-serif;
    font-size: 80px;
    font-weight: 100;
    font-style: normal;
    padding-left: 3%;
    text-shadow: -2px 2px rgb(96, 71, 155) ;
    background-color: rgb(229, 151, 200);
}

.typeaxial img {
    float: left;
 
}

.typegrid img {
   float: right;
}

.typeradial img {
    float: left;
}

.typedil img {
    float: right;
}

.typetrans img {
    float: left;
}

.typebil img {
    float: right;

}

.typemod img {
    float: left;
}

.typerandom img {
    float: right;

}

.axialtext {
    color: rgb(24, 0, 36);
    font-family: dinosaur,sans-serif;
    font-weight: 535;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    padding-top: 15%;

}
.gridtext {
    color: rgb(24, 0, 36);
    font-family: dinosaur,sans-serif;
    font-weight: 535;
    font-style: normal;
    font-size: 18px;
    text-align: right;
    padding-top: 15%;
}
.radialtext {
    color: rgb(24, 0, 36);
    font-family: dinosaur,sans-serif;
    font-weight: 535;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    padding-top: 15%;
}
.diltext {
    color: rgb(24, 0, 36);
    font-family: dinosaur,sans-serif;
    font-weight: 535;
    font-style: normal;
    font-size: 18px;
    text-align: right;
    padding-top: 15%;
}
.transtext {
    color: rgb(24, 0, 36);
    font-family: dinosaur,sans-serif;
    font-weight: 535;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    padding-top: 15%;
}
.biltext {
    color: rgb(24, 0, 36);
    font-family: dinosaur,sans-serif;
    font-weight: 535;
    font-style: normal;
    font-size: 18px;
    text-align: right;
    padding-top: 15%;
}
.modtext {
    color: rgb(24, 0, 36);
    font-family: dinosaur,sans-serif;
    font-weight: 535;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    padding-top: 15%;
}
.randomtext {
    color: rgb(24, 0, 36);
    font-family: dinosaur,sans-serif;
    font-weight: 535;
    font-style: normal;
    font-size: 18px;
    text-align: right;
    padding-top: 15%;
}
#carp_title {
    color: white;
    font-family: acier-bat-noir,sans-serif;
    font-size: 80px;
    font-weight: 100;
    font-style: normal;
    text-align: right;
    text-shadow: -3px 2px black;
    background-color: rgb(235, 202, 255);
    padding: 10px 0px 10px 0px; 
}
#report_title {
    color: white;
    font-family: acier-bat-noir,sans-serif;
    font-size: 80px;
    font-weight: 100;
    font-style: normal;
    text-align: right;
    text-shadow: -3px 2px black;
    background-color: rgb(235, 202, 255);
    padding: 10px 0px 10px 0px; 
}
#code_title {
    color: white;
    font-family: acier-bat-noir,sans-serif;
    font-size: 80px;
    font-weight: 100;
    font-style: normal;
    text-align: right;
    text-shadow: -3px 2px black;
    background-color: rgb(235, 202, 255);
    padding: 10px 0px 10px 0px; 
}
#ux_title {
    color: white;
    font-family: acier-bat-noir,sans-serif;
    font-size: 80px;
    font-weight: 100;
    font-style: normal;
    text-align: right;
    text-shadow: -3px 2px black;
    background-color: rgb(235, 202, 255);
    padding: 10px 0px 10px 0px; 
}

.pointer {
    width: 200px;
    height: 40px;
    position: relative;
    background: rgb(255, 144, 196);
    text-indent: 10px;
    letter-spacing: 2px;
    line-height: 0.3;
    text-align: center;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    color: white;
    
  }
.pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgb(255, 229, 199);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    box-shadow: rgb(117, 57, 117);
  }
.pointer:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgb(255, 144, 196);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
    
.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.caption {
    font-size: larger;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-left: 6%;
    padding-top: 2.5%;
    padding-right: 5%;
    background-color: rgb(235, 202, 255);
    height: 250px;
    text-shadow: rgb(49, 49, 100);
}
.container {
    display: flex;
    
}
.section-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

}
#process {
    color: white;
    font-family:'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    text-align: left;
    text-shadow: -3px 2px black;
    background-color: rgb(235, 202, 255);
    padding: 10px 0px 10px 0px;
}

.main{
    margin: 10%;
    align-items: center;
}
.frames {
    align-items: center;
}
footer {
    background-color: rgb(229, 151, 200);
    height: 45px;
    text-align: center;
    text-shadow: -1.5px 1.7px rgb(63, 25, 63);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: 700;
    color: whitesmoke;
    padding: 15px 0px;
    
}
#typetit {
    font-family: fino-sans,sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    background-color: rgb(199, 219, 255);

}
#reflection {
    font-size: medium;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 1.5%;
    padding-right: 4%;
    padding-left: 4%;
    background-color: #FAA996;
    height: 260px;
}
#strat {
    color: rgb(41, 41, 121);
    font-size: 40px;
    line-height: 5%;
    font-family: dunbar-low,sans-serif;
    font-weight: 500;
    font-style: normal;
}
#scope {
    color: rgb(41, 41, 121);
    font-size: 40px;
    line-height: 15%;
    font-family: dunbar-low,sans-serif;
    font-weight: 500;
    font-style: normal;
}
#para {
    font-family:'Raleway', sans-serif;
    font-size: 15px;
    background-color: rgb(199, 219, 255);
    height: 290px;
    width: 800px;
}
#para2 {
    font-family:'Raleway', sans-serif;
    font-size: 15px;
    background-color: rgb(248, 199, 255);
    height: 235px;
    width: 800px;
}
#reportt {
    color: rgb(41, 41, 121);
    font-size: 40px;
    line-height: 15%;
    font-family: dunbar-low,sans-serif;
    font-weight: 500;
    font-style: normal;
}
#paras {
    font-family:'Raleway', sans-serif;
    font-size: 15px;
    
}
#parass {
    font-family:'Raleway', sans-serif;
    font-size: 15px;
    
}
#paras1 {
    font-family:'Raleway', sans-serif;
    font-size: 15px;
    
}
#paras2 {
    font-family:'Raleway', sans-serif;
    font-size: 15px;
    
}
#end {
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    color: rgb(255, 229, 199);
}
.flowchart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10%;
    padding-left: 10%;
}
#chart {
    padding-right: 10%;
    filter: drop-shadow(7px 3px 7px #72497a);
}
#wire {
    filter: drop-shadow(7px 3px 7px #72497a);
}
#ftitle {
    color: white;
    font-family: acier-bat-noir,sans-serif;
    font-size: 50px;
    font-weight: 100;
    font-style: normal;
    padding-top: 30px;
    padding-left: 15px;
    background-color: rgb(255, 159, 180);
    height: 80px;
}
.linkimages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5%;
}
#carp {
    filter: drop-shadow(7px 3px 7px #72497a);
}
#type {
    filter: drop-shadow(7px 3px 7px #72497a);
}
#code {
    filter: drop-shadow(7px 3px 7px #72497a);
}
#ux {
    filter: drop-shadow(7px 3px 7px #72497a);
}
#report {
    filter: drop-shadow(7px 3px 7px #72497a);
}
.imagetextre {
    filter: drop-shadow(7px 7px 3px #72497a);
}
.aboutme {
    background-color: rgb(255, 189, 203);
    height: fit-content;
    width: fit-content;
}
#amtitle {
    color: white;
    font-family: acier-bat-noir,sans-serif;
    font-size: 50px;
    font-weight: 100;
    font-style: normal;
    text-shadow: -3px 2px rgb(117, 57, 117);
    padding-top: 30px;
    padding-left: 40px;
    background-color: rgb(255, 142, 204);
    height: 80px;
    width: 300px;
}
#oz {
    color: rgb(255, 243, 234);
    font-family:'Raleway', sans-serif;
    font-size: 33px;
    font-weight: 100;
    font-style: italic;
    text-shadow: -2.6px 1.5px rgb(117, 57, 117);
}
#student {
    color: rgb(255, 243, 234);
    font-family:'Raleway', sans-serif;
    font-size: 33px;
    font-weight: 100;
    font-style: italic;
    text-shadow: -2.6px 1.5px rgb(117, 57, 117);
}
#hobby {
    color: rgb(255, 243, 234);
    font-family:'Raleway', sans-serif;
    font-size: 33px;
    font-weight: 100;
    font-style: italic;
    text-shadow: -2.6px 1.5px rgb(117, 57, 117);
}
#cv {
    color: rgb(255, 243, 234);
    font-family:'Raleway', sans-serif;
    font-size: 33px;
    font-weight: 100;
    font-style: italic;
    text-shadow: -2.6px 1.5px rgb(117, 57, 117);
}
#insta {
    color: rgb(255, 243, 234);
    font-family:'Raleway', sans-serif;
    font-size: 33px;
    font-weight: 100;
    font-style: italic;
    text-shadow: -2.6px 1.5px rgb(117, 57, 117);
}
#yoondaze {
    color: white;
    font-family:'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 100;
    font-style: italic;
    background-color: #ffa3ba;
    width: fit-content;
    filter: drop-shadow(7px 7px 3px #72497a);
}
.ohlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
#cp {
    background-color: rgb(235, 202, 255);
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 100;
    font-style: italic;
}
#fbr {
    background-color: rgb(235, 202, 255);
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 100;
    font-style: italic;

}
.pizza {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    filter: drop-shadow(7px 7px 3px #72497a);
}
.cake {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    filter: drop-shadow(7px 7px 3px #72497a);
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    filter: drop-shadow(7px 7px 3px #72497a);
}
.rundown {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    filter: drop-shadow(7px 7px 3px #72497a);
}